body{
    text-align: center;
}
#bargraph {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 4px;
    padding: 2%;
    background-color: lightblue;
    display: inline-block;
}
.bar-container{
    display: inline-block;
    padding:0 15px;
}

.bar-container p {
    font-size: 15px;
    text-align: center;
}

.bar {
    width: 35px;
    height: 250px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
.percentage-30 ,
.percentage-40 ,
.percentage-80 
{
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
    animation-duration: 1s;
    border-radius: 5px;
}
h2{
    margin-top: 0;
}

.percentage-30 {
    animation-name: progress30;
}

@keyframes progress30 {
    from {
        background-color: white;
        height: 0;
    }

    to {
        background-color: #8d8d8d;
        height: 30%;
    }
}

.percentage-40 {
    animation-name: progress40;
}

@keyframes progress40 {
    from {
        background-color: white;
        height: 0;
    }

    to {
        background-color: #8d8d8d;
        height: 40%;
    }
}

.percentage-80 {
    animation-name: progress80;
}

@keyframes progress80 {
    from {
        background-color: white;
        height: 0;
    }

    to {
        background-color: #8d8d8d;
        height: 80%;
    }
}